@media only screen and (min-width: 750px) {
  .js-recentPdpBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    gap: 20px
  }
}

@media only screen and (max-width: 576px) {
  .js-recentPdpBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    gap: 20px
  }
}

.recently-title h2 {
  font-size: 24px;
  border-top: 1px solid #d2d2d2;
  padding-top: 50px;
  margin-top: 50px;
}

.c-product {
  cursor: pointer;
}

.c-product img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.c-product p.c-productPrice {
  color: #000;
}

.c-product h3.c-product__title {
  padding-bottom: 10px;
}

.c-product h3.c-product__title a {
  color: black;
  text-decoration: none;
}

a.c-product__url {
  position: relative;
}

.c-product img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.recently-title {
  margin-bottom: 20px;
}
